@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  color: white;
  background-color: black;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}

.we-admin-title {
  @apply transition duration-500 cursor-pointer text-gray-500
}

.we-admin-title:hover {
  @apply transition duration-500 text-white
}